# Programming Exercise 1: Tableau Public

There are five problems in the dataset

Two known issues:

1. there are multiple time periods with missing (NULL) values. missing values are inherently different from zero (0), as its value is simply unknown rather than specifically zero
2. a solar meter had reported small amounts of energy being generated at night, which is clearly incorrect. 

Use Tableau to visualise data to find erros:

3. negative data
4. naming error 
5. duplicate date

In [129]:
import pandas as pd
import re

In [130]:
#import data
data = pd.read_csv('PE1_Solar_Data_Generation_2020.csv')
display(data.head())
print(data["MonSolarMeter"].unique())

,Timestamp,MonSolarMeter,Real Energy Into the Load (kWh)
0,2020-01-01 00:00:00.004,LV_Engineering_72.Solar_Main_Supply,0.0
1,2020-01-01 00:00:00.004,LV_N1_Building_Carpark.West_Park_Solar_Feed,0.0
2,2020-01-01 00:00:00.004,LV_Biomedical_Sciences_76.Solar_Main_Supply,0.0
3,2020-01-01 00:00:00.004,LV_Sport_01.PVDB-DB-B,0.0
4,2020-01-01 00:30:00.004,LV_N1_Building_Carpark.West_Park_Solar_Feed,0.0

['LV_Engineering_72.Solar_Main_Supply'
 'LV_N1_Building_Carpark.West_Park_Solar_Feed'
 'LV_Biomedical_Sciences_76.Solar_Main_Supply' 'LV_Sport_01.PVDB-DB-B'
 'LV_Biomedical_Science_76.Solar_Main_Supply']

Make all the energy that generate at night equal to zero:

Filter negative data: 
1. find all rows with negative value
2. drop all rows with negative value

In [131]:
#find all row with negative value
neg_ind = data[data['Real Energy Into the Load (kWh)'] < 0].index

#print the negative data
print("the index for negative value: ")
display(neg_ind)

#set the negative to positive value
data.loc[neg_ind, "Real Energy Into the Load (kWh)"]= data.loc[neg_ind, "Real Energy Into the Load (kWh)"] * -1


#check negative data again
print("confirm the data is change to positive: ")
display(data[data['Real Energy Into the Load (kWh)'] < 0])
display(data.loc[neg_ind])

the index for negative value:

Int64Index([8930], dtype='int64')

confirm the data is change to positive:

Empty DataFrame
Columns: [Timestamp, MonSolarMeter, Real Energy Into the Load (kWh)]
Index: []

,Timestamp,MonSolarMeter,Real Energy Into the Load (kWh)
8930,2020-02-16 12:00:00.004,LV_N1_Building_Carpark.West_Park_Solar_Feed,297.214

Remove duplicate value: 
1. check unique value
2. change the value to correct name

In [132]:
#check column unique value to find naming error
print(data["MonSolarMeter"].unique())

# save duplicate names into variables
science = data["MonSolarMeter"] == \
'LV_Biomedical_Science_76.Solar_Main_Supply'
sciences = data["MonSolarMeter"] == \
'LV_Biomedical_Sciences_76.Solar_Main_Supply'

#inspect data
print(data[science].index)
display(data[sciences].head())

['LV_Engineering_72.Solar_Main_Supply'
 'LV_N1_Building_Carpark.West_Park_Solar_Feed'
 'LV_Biomedical_Sciences_76.Solar_Main_Supply' 'LV_Sport_01.PVDB-DB-B'
 'LV_Biomedical_Science_76.Solar_Main_Supply']
Int64Index([37757], dtype='int64')

,Timestamp,MonSolarMeter,Real Energy Into the Load (kWh)
2,2020-01-01 00:00:00.004,LV_Biomedical_Sciences_76.Solar_Main_Supply,0.0
5,2020-01-01 00:30:00.004,LV_Biomedical_Sciences_76.Solar_Main_Supply,0.0
9,2020-01-01 01:00:00.004,LV_Biomedical_Sciences_76.Solar_Main_Supply,0.0
15,2020-01-01 01:30:00.004,LV_Biomedical_Sciences_76.Solar_Main_Supply,0.0
19,2020-01-01 02:00:00.004,LV_Biomedical_Sciences_76.Solar_Main_Supply,0.0

In [133]:
#check if the sciences has data at 2020-07-15 15:00:00.006
data[data['Timestamp'] == '2020-07-15 15:00:00.006']

,Timestamp,MonSolarMeter,Real Energy Into the Load (kWh)
37756,2020-07-15 15:00:00.006,LV_N1_Building_Carpark.West_Park_Solar_Feed,38.916
37757,2020-07-15 15:00:00.006,LV_Biomedical_Science_76.Solar_Main_Supply,0.763
37758,2020-07-15 15:00:00.006,LV_Sport_01.PVDB-DB-B,2.797
37759,2020-07-15 15:00:00.006,LV_Engineering_72.Solar_Main_Supply,3.073

In [134]:
# for LV_Biomedical_Sciences_76.Solar_Main_Supply 
# there is no value at 2020-07-15 15:00:00
# Thus we can confirm this is an naming error
# change it to correct name 
data.loc[data[science].index, 'MonSolarMeter'] = 'LV_Biomedical_Sciences_76.Solar_Main_Supply'
#the name has successfully changed
display(data[science])
#check column unique value to find naming error
print(data["MonSolarMeter"].unique())

,Timestamp,MonSolarMeter,Real Energy Into the Load (kWh)
37757,2020-07-15 15:00:00.006,LV_Biomedical_Sciences_76.Solar_Main_Supply,0.763

['LV_Engineering_72.Solar_Main_Supply'
 'LV_N1_Building_Carpark.West_Park_Solar_Feed'
 'LV_Biomedical_Sciences_76.Solar_Main_Supply' 'LV_Sport_01.PVDB-DB-B']

Find duplciate data: 
1. check if theres dupiclate values for each SolarMeter
2. drop duplicate row

In [135]:
#display duplicated rows
display(data[data.duplicated()])
#drop all duplicated rows by index
cleaned_data = data.drop_duplicates()
#display duplicated rows
display(cleaned_data[cleaned_data.duplicated()])
#save cleaned data to new csv
cleaned_data.to_csv("Cleaned_PE1_Solar_Data_Generation_2020.csv")

,Timestamp,MonSolarMeter,Real Energy Into the Load (kWh)
33876,2020-06-25 10:00:00.005,LV_N1_Building_Carpark.West_Park_Solar_Feed,105.035
33877,2020-06-25 10:00:00.005,LV_Sport_01.PVDB-DB-B,15.424
33878,2020-06-25 10:00:00.005,LV_Biomedical_Sciences_76.Solar_Main_Supply,3.917
33879,2020-06-25 10:00:00.005,LV_Engineering_72.Solar_Main_Supply,17.533

Empty DataFrame
Columns: [Timestamp, MonSolarMeter, Real Energy Into the Load (kWh)]
Index: []

In [136]:
len(cleaned_data)

70256

In [137]:
cleaned_data.loc[0]

Timestamp                                      2020-01-01 00:00:00.004
MonSolarMeter                      LV_Engineering_72.Solar_Main_Supply
Real Energy Into the Load (kWh)                                      0
Name: 0, dtype: object